#title{
    font-family: Arial;
    font-size: 50px;
    padding-bottom: 70px;
    padding-left: 25%;
    padding-top: 50px;
    margin: auto;
}   

.input-group{
    padding-left: 500px;
    padding-right: 500px;
}

